@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Genos:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/*
  Animations
*/

@keyframes fadeInScaleAnimation {
  0% {
      opacity: 0.8;
      scale: 0;
  }
  100% {
      opacity: 1.0;
      scale: 1;
  }
}


body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', 'Helvetica Neue';
}

p {
  color: rgba(250, 250, 250, 0.9);
}

h1 {
  color: rgba(250, 250, 250, 0.9);
}

.btn {
  padding-left: 1.4vw;
  padding-right: 1.4vw;
  padding-top: 0.6vw;
  padding-bottom: 0.6vw;
  font-size: calc(0.5rem + 1.0vh);
  border-radius: 8px;
  color: rgba(245, 245, 245, 1.0);
  font-weight: 500;
  border: none;
  cursor: pointer;
}


.main-wrapper {
  position: relative;
  width: 100vw;
  height: 300vh;
  background-image: linear-gradient(0deg, rgba(10, 10, 10, 0.9), 15%, rgb(20, 20, 20));
  overflow: hidden;

}


/*
  Header
*/

.header-wrapper {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: end;
  place-items: center;
}

.header-container {
  margin-right: 10vw;
}

.login-btn {
  /* background-image: linear-gradient(0deg, rgb(33, 33, 33), 75%, rgb(42, 42, 42)); */
  background-color: rgba(23, 23, 23, 0.9);
  transition: all;
  transition-duration: 0.3s;
}

.user-icon {
  width: 2vw;
  height: 2vw;
  color: rgb(53, 122, 219);
}

.login-btn:hover {
  color: black;
  background-color: rgba(230, 230, 230, 1.0);
  transform: scale(0.95);
}

/*
  Navbar
*/

.nav-link-wrapper {
  margin-top: 3vh;
  position: absolute;
  width: 40%;
  left: 30%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  z-index: 10;
}

.nav-link-container {
  width: 50%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  place-items: center;
  padding: 0.4vw;
  column-gap: 2vw;
  background-color: rgb(27, 27, 27);

}

.nav-link {
  position: relative;
  text-decoration: none;
  border-radius: 10px;
  height: 4vh;
  width: 10vh;
  color: white;
  display: flex;
  justify-content: center;
  place-items: center;
  cursor: pointer;
  font-size: calc(0.25rem + 0.8vh);
  font-weight: 500;
}

.active {
  background-color: rgba(222, 30, 62, 0.96);
  box-shadow: 0px 0px 10px rgba(222, 30, 62, 0.96);
}

.inactive {
  background-color: rgba(32, 66, 124, 0.96);
  box-shadow: 0px 0px 10px rgba(32, 66, 124, 0.96);
  opacity: 0.6;
}


.lock-icon {
  position: absolute;
  top: 25%;
  left: 32%;
  width: 2vw;
  height: 2vh;
}

.hide {
  visibility: hidden;
}

/*
  Footer
*/

.footer-container {
  position: relative;
  bottom: 0;
  margin-top: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  place-items: center;
  gap: 20vw;
}

.footer-slogan {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  place-items: center;
}

.quick-links {
  display: flex;
  flex-direction: column;
  justify-content: start;
  row-gap: 2vh;
}

.quick-links a {
  color: rgba(230, 230, 230, 1.0);
  text-decoration: none;
  position: relative;
}

.quick-links a::after {
  content: "";
  width: 90%;
  height: calc(0.1rem + 0.05vh);
  background-color: white;
  transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all;
  transition: 0.5s ease-in-out;
  transform-origin: left;
}

.quick-links a:hover::after {
  transform: scale(1);
}

.footer-quick-links-wrappper {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  place-items: center;
  row-gap: 2vh;
}


/*
  Login form
*/

.login-form {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 20%;
  left: 31%;
  width: 30vw;
  height: 50vh;
  margin: 0 auto;
  border-radius: 10px;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: white;
  transition: all;
  transition-duration: 0.2s;
}

.login-form p {
  font-size: calc(0.25rem + 0.7vh);
  color: rgba(12, 12, 12, 0.63);
}

.display-form {
  transform: scale(1);
}

.close-form {
  transform: scale(0);
}

.login-form h2 {
  text-align: center;
}

.input-group {
  margin-bottom: calc(0.25rem + 2vh);
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.form-button {
  width: 5vw;
  height: 4vh;
  border-radius: 10px;
  border: none;
  background-color: rgba(38, 69, 122, 0.3);
  cursor: pointer;
}

.form-button:hover {
  background-color: rgba(30, 107, 222, 0.96);
  box-shadow: 0px 0px 10px rgba(30, 158, 222, 0.96);
  color: rgba(235, 235, 235, 0.9);
}

.input-group input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/*
  landing
*/

.landing-container {
  width: 50%;
  height: 70vh;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  place-items: center;
  text-align: center;
}

.landing-wrapper {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  place-items: center;
}

.landing-title {
  font-size: calc(2.0rem + 6vh);    
  background-image: linear-gradient(225deg, rgba(0, 98, 255, 0.96), 25%, rgba(222, 30, 30, 0.96));
  filter: drop-shadow(0 15px 30px #ff003733);
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;

}

.dynamic-slogan {
  bottom: 10%;
  position: relative;
  font-size: calc(1.0rem + 2vh);
  background-image: linear-gradient(225deg, rgba(0, 98, 255, 0.96), rgba(222, 30, 62, 0.96));
  filter: drop-shadow(0 15px 30px #d900ff33);
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
}

.dynamic-slogan::after {
  position: absolute;
  content: "";
  top: 15%;
  left: -20%;
  background-color: rgb(49, 49, 49);
  width: 1px;
  height: 2.0vw;

}

.landing-para {
  width: 75%;
  color: rgba(235, 235, 235, 0.9);
  font-size: calc(0.5rem + 1.5vh);
  font-weight: 600;
}

/*
  User Options
*/

.user-options-wrapper {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.user-options-title {
  color: rgba(230, 230, 230, 1.0);
  font-size: calc(0.5rem + 2vh);
}

.user-options-container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  place-items: center;
  row-gap: 5vh;
  column-gap: 5vw;
  border-radius: 10px;
  padding: 5vh;
  background-image: linear-gradient(0deg, rgba(219, 219, 219, 0.9), 50%, rgb(240, 240, 240));
  /* background: linear-gradient(rgb(16, 16, 16), rgba(25, 25, 25, 0.931)) padding-box,
              linear-gradient(to right, rgba(0, 98, 255, 0.96), rgba(222, 30, 62, 0.96)) border-box;
  border: 1px solid transparent; */
  box-shadow: 0px 0px 35px rgba(41, 41, 41, 0.3); 
}

.user-option {
  width: 13vw;
  height: 14vh;
  padding: 1vh;
  background-color: rgba(255, 255, 255, 0.945);
  display: flex;
  flex-direction: row;
  text-decoration: none;
  border-radius: 7px;
  transition: all;
  transition-duration: 0.5s;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(148, 148, 148, 0.5);
}

.user-option:hover {
  transform: scale(0.95);
  box-shadow: 0px 0px 20px rgba(235, 235, 235, 0.9);
}

.user-option-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.user-options-icon-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.user-option p {
  font-size: calc(0.3rem + 0.8vh);
  color: rgba(19, 19, 19, 0.9);
}

.user-option h3 {
  margin: 0;
  padding: 0;
  color: rgba(23, 23, 23, 0.9);
}

/*
  Getting Started
*/

.getting-started-wrapper {
  margin-top: 40vh;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  place-items: center;
}

.getting-started-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(19, 19, 19, 0.9);
  border-radius: 10px;
  padding: 10vh;
  box-shadow: 0px 0px 60px rgba(27, 27, 27, 0.9);
}

.getting-started-header {
  width: 100%;
  display: flex;
  justify-content: start;
  place-items: center;
  font-size: calc(1.5rem + 7vh);
  background-image: linear-gradient(225deg, rgba(0, 98, 255, 0.96), rgba(222, 30, 62, 0.96));
  filter: drop-shadow(0 15px 30px #d900ff33);
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
}

.getting-started-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1vh;
}

.getting-started-list-item {
  position: relative;
  color: rgba(235, 235, 235, 0.9);
  height: 5vh;
  width: 40vw;
  font-weight: 500;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.getting-started-list-item span {
  position: absolute;
  left: -7%;
  top: -40%;
  font-weight: 600;
  font-size: calc(0.5rem + 3vh);
}

/*
  Account View
*/

.account-view-wrapper {
  position: absolute;
  top: 10%;
  left: 0%;
  width: 100%;
  height: 300vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  place-items: center;
  transform: translateX(100vw);
}

.account-view-container {
  width: 60%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  background-color: #1b1b1bf0;
  border-radius: 10px;
  box-shadow: 0px 0px 40px rgba(42, 42, 42, 0.863);
}

.account-view-header {
  font-size: calc(0.5rem + 6vh);
  font-weight: 600;
  background-image: linear-gradient(225deg, rgba(255, 255, 255, 0.96), rgba(255, 255, 255, 0.96));
  filter: drop-shadow(0 5px 30px #ffffff35);
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
}

.account-view-para {
  color: rgba(235, 235, 235, 0.9);
  font-weight: 600;
  font-size: calc(0.5rem + 1.0vh);
  text-align: center;
  width: 50vw;
}

.account-cards-navbar {
  margin-top: 20vh;
  width: 76%;
  padding-left: 2vw;
  padding-right: 2vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: start;
  place-items: center;
  column-gap: 2vw;
  background-color: rgba(255, 255, 255, 0.025);
  border-radius: 10px;
}

.account-cards {
  width: 8vw;
  height: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  border-radius: 10px;
  background-color: rgba(36, 89, 163, 0.96);
  box-shadow: 0px 0px 10px rgba(19, 73, 109, 0.96);
  cursor: pointer;
}

.account-overview {
  margin-top: 4vh;
  width: 80%;
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: start;
  place-items: center;
  column-gap: 10vw;
  background-color: rgba(12, 12, 12, 0.63);
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(39, 39, 39, 0.653);
}

.account-options-list {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  place-items: center;
  row-gap: 5vh;
  color: rgba(235, 235, 235, 0.9);
}

.account-option-container {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5vh;
  margin-left: 10vw;
}

.account-options-header {
  font-size: calc(1.0rem + 1vh);
  padding: 0;
  margin-bottom: 3vh;
}

.account-option-type {
  font-size: calc(0.5rem + 1vh);
  font-weight: 500;
}

.account-options-input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  place-items: center;
  column-gap: 10vw;
}

.account-options-input {
  width: 15vw;
  height: 3vh;
}

.account-options-submit-btn-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  place-items: center;
}

.account-options-submit-btn {
  cursor: pointer;
  width: 5vw;
  height: 3.5vh;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  background-color: rgba(19, 19, 19, 0.9);
  box-shadow: 0px 0px 10px rgba(200, 200, 200, 0.1);
  color: rgba(245, 245, 245, 0.9);
  transition: all;
  transition-duration: 0.75s;
}

.debit-btn:hover {
  background-color: rgba(0, 255, 225, 0.96) ;
  box-shadow: 0px 0px 10px rgba(0, 255, 225, 0.96);
}

.credit-btn:hover {
  background-color: rgba(255, 0, 60, 0.96);
  box-shadow: 0px 0px 10px rgba(255, 0, 60, 0.96);
}

.debit {
  position: relative;
  background-image: linear-gradient(225deg, rgba(0, 191, 255, 0.96), rgba(30, 222, 129, 0.96));
  filter: drop-shadow(0 15px 30px #00ffbb60);
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
}

.debit::after {
  position: absolute;
  content: '';
  background-color: white;
  width: 30vw;
  height: 2px;
  top: 750%;
  left: 0;
}

.credit {
  background-image: linear-gradient(225deg, rgba(0, 34, 255, 0.96), rgba(222, 30, 30, 0.96));
  filter: drop-shadow(0 15px 30px #ff002b75);
  color: black;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
}

.account-card-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  place-items: center;
  width: 50vw;
}

.account-card-details {
  width: 5vw;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  row-gap: 1vh;
  color: rgba(235, 235, 235, 0.9);

}
.account-card-details-header{
  position: relative;
  font-size: calc(0.5rem + 0.5vh);
  font-weight: 300;
  height: 1vh;
  width: 20vw;
  display: flex;
  justify-content: start;
  place-items: center;
  text-align: left;
  color: rgba(245, 245, 245, 0.9);
}

.account-card-details-header::after {
  content: "";
  width: 1px;
  height: 400%;
  position: absolute;
  left: 35%;
  background-color: white;
}

.account-card-values {
  margin-bottom: 2vh;
}

.transaction-history {
  margin-top: 5vh;
  width: 60%;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  place-items: center;
  background-color: rgba(235, 235, 235, 0.9)
}



/*
  Scrollbar
*/

.scroll-bar {
  color: rgba(245, 245, 245, 1.0);
  position: fixed;
  left: 96%;
  top: 50%;
}